body {
  background-color: white;
  color: green;
}

.section-color {
  background-color: rgb(244, 244, 244);
  color: black;
  padding: 120px;

  /* margin-top: 100px; */
}

/* Navbar */

.navbar-brand {
  padding-left: 40px;
  padding-right: 40px;
}
.coat-of-arm {
  width: 70px;
}

.navbar-search {
  width: 340px;
  height: 48px;
}

.nav-btn-search {
  margin-right: 40px;
}

.dropdown-item:hover {
  transition: all 0.3s;
}

/* Carousel styles */
.carousel {
  width: 800px;
  margin: 30px auto;
  padding-bottom: 320px;
}
.carousel-headings {
  font-size: 70px;
  font-weight: 500;
}

.carousel-p {
  font-size: 24px;
  line-height: 45px;
  font-weight: 400;
}

.carousel-vote-button,
.carousel-login-button {
  font-size: 20px;
  border: none;
  outline: none;
  padding: 15px;
  margin-top: 20px;
  width: 160px;
  background-color: rgb(14, 205, 14);
  color: white;
  border-radius: 50px;
  font-weight: 500;
}

.carousel-vote-button:hover {
  background-color: rgb(49, 224, 49);
  transition: all 0.5s;
}

.carousel-login-button {
  background-color: white;
  color: black;
  margin-left: 20px;
}

.voting-instruction-heading {
  margin-top: 15px;
  margin-bottom: 75px;
  font-size: 34px;
  font-weight: 500;
  text-align: center;
}

.steps {
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 500;
}

.steps-details {
  margin-bottom: 10px;
  font-size: 18.5px;
  font-weight: 380;
}

/* FAQs */

.faq-heading {
  font-size: 34px;
  font-weight: 500;
  text-align: center;
  color: black;
}

.faq-p {
  font-size: 26px;
  font-weight: 380;
  text-align: center;
  margin-top: 10px;
}

.faq-dropdown-heading {
  font-size: 20px;
  font-weight: 450;
  padding-bottom: 20px;
  margin-top: 30px;

  /* border-bottom: 1px solid green; */
}

.dropdown-menu-color {
  background-color: green;
  color: white;
  padding: 12px;
  width: 100%;
  border-bottom: 1px solid green;
  margin-bottom: 20px;
}

.political-candidate {
  border: none;
  outline: none;
  padding: 15px;
  width: 180px;
  height: 80px;
  font-size: 24px;
  font-weight: 500;
  color: white;
  background-color: green;
}

/* .presidential-section-bg-color {
  background-color: ;
} */

/* Presidential page */
.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.7);
}

.carousel-section {
  background-color: rgb(42, 31, 31);
  padding-left: 120px;
  padding-right: 120px;
}

.carousel-caption {
  position: absolute;
  left: 70px;
  top: 250px;
  width: 100vw;
  text-align: start;
  color: white;
}

.carousel-heading {
  font-size: 60px;
  text-align: start;
}

.carousel-description {
  font-size: 32px;
  text-align: start;
  width: 50%;
  line-height: 38.7px;
  margin-top: 15px;
}

.presidential-candidate-heading,
.cast-vote-heading {
  font-size: 35px;
  font-weight: 500;
  margin-top: 20px;
}

.presidential-candidate-p,
.cast-vote-p {
  font-size: 23px;
}

.presidential-candidate-portrait {
  border-radius: 15px;
  margin-top: 25px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.candidate-card:hover .overlay {
  opacity: 1;
}

.candidate-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 30px;
}

.candidate-info {
  width: 90%;
  font-size: 30px;
}

.candidate-heading {
  font-size: 40px;
  color: white;
}

.candidate-p {
  font-size: 25px;
  color: white;
}

.candidate-img {
  width: 100%;
}

.voting-dashBoard-heading {
  font-size: 25px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  /* color: green; */
}

.party-input {
  display: flex;
  gap: 20px;
  width: 800px;
  margin: 70px auto;
}

.voting-dashBoard-p {
  font-size: 19px;
  margin-top: 6px;
  font-weight: 400;
  /* color: green; */
}

.card {
  font-size: 22px;
  font-weight: 500;
  background-color: #030f27;
  color: white;
  padding: 60px;
  margin: 75px auto;
  width: 400px;
  height: 420px;
  text-align: center;
  border-bottom: 6px solid rgb(185, 40, 40);
}

.political-party-search::placeholder {
  font-size: 18px;
}

.pdp-voting-page-heading {
  color: green;
  font-size: 33px;
  font-weight: 500;
  text-align: center;
}

.pdp-voting-page-p {
  font-size: 19.5px;
  font-weight: 400;
  color: green;
  text-align: center;
}

.form-width-height {
  width: 90%;
  height: 50px;
  border-radius: 10px;
}
.form-width-height::placeholder {
  font-size: 18.5px;
}

.residential-information,
.voting-detials-form,
.verification-information,
.vote-confirmation {
  font-size: 30px;
  color: green;
  margin-top: 40px;
  margin-bottom: 10px;
}

.residential-information {
  margin-top: 80px;
  margin-bottom: 10px;
}

.verification-information {
  margin-top: 70px;
  margin-bottom: 10px;
}

.vote-confirmation {
  margin-top: 70px;
  margin-bottom: 10px;
}

.voting-form-padding {
  padding-left: 300px;
  padding-right: 300px;
}

.form-section-bg-color {
  background-color: white;
  padding: 70px;
  border-radius: 16px;
  margin-top: 40px;
}

.verify {
  color: green;
  margin-top: 30px;
  font-size: 17px;
}

.vote-submit {
  font-size: 22px;
  padding: 10px;
  width: 250px;
}

.how-to-vote-heading {
  font-size: 35px;
  font-weight: 500;
}

.how-to-vote-p {
  font-size: 24px;
  font-weight: 400;
  margin-top: 8px;
}

.how-to-vote-padding {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 50px;
  padding-right: 50px;
}

.steps {
  font-size: 33px;
  margin-bottom: 30px;
  margin-top: 40px;
}

.steps-background-color {
  background-color: white;
  border-radius: 15px;
  padding: 50px;
  font-size: 21px;
  color: green;
  margin-bottom: 50px;
}

.form-verification-checkmark {
  margin-top: 40px;
  font-size: 19px;
  font-weight: 450;
  text-transform: uppercase;
}

.checkbox {
  width: 18px;
  height: 18px;
}
.steps-background-color:hover {
}

.form-input {
  width: 400px;
  height: 45px;
  margin-bottom: 30px;
  border-radius: 0px;
  border: 0.8px solid green;
}

.form-submit {
  font-size: 18.5px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  border: none;
  background-color: green;
  color: white;
  font-weight: 500;
}

.signup,
.signin {
  margin-top: 40px;
  margin-bottom: 25px;
  font-size: 30px;
  text-transform: uppercase;
  color: black;
}

.form-login {
  margin: 200px auto;
  margin-bottom: 0px;
  width: 400px;
  height: 100vh;
}
.img-style {
  height: 100vh;
}
.account-status {
  color: green;
  margin-top: 20px;
}

.logoutbtn {
  background-color: none;
  font-size: 19px;
  border: none;
  outline: none;
  margin-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
  background-color: white;
  color: green;
  border-radius: 5px;
  border: 1px solid green;
}

.analytics-icon {
  background-color: #1b2435;
  padding: 13px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.total-votes-p {
  font-size: 22px;
  font-weight: 400;
  color: rgb(201, 201, 201);
  text-align: start;
  margin-top: 25px;
  margin-bottom: 0px;
}

.total-votes-heading {
  font-size: 30px;
  margin-top: 0px;
  text-align: start;
}

.footer-heading {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: bolder;
  color: white;
}

.footer-padding {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.links {
  list-style-type: none;
  margin-left: -30px;
}

.link {
  font-size: 19px;
  color: white;
  font-weight: 380;
  text-decoration: none;
}

.disclaimers {
  font-size: 19px;
  color: white;
  font-weight: 380;
  margin-bottom: 10px;
  line-height: 30px;
}

.copyright {
  font-size: 19px;
  text-align: center;
  font-weight: 500;
  color: black;
  margin-top: 43px;
  padding-bottom: 5px;
}

.carousel-caption {
  position: absolute;
  left: 10;
  top: 100;
  width: 100%;
  text-align: start;
  color: white;
}

.carousel-color {
  background-color: green;
  color: white;
}

.carousel-heading {
  font-size: 70px;
  font-weight: 500;
  margin-bottom: 0px;
}

.carousel-description {
  font-size: 40px;
  width: 80%;
  line-height: 50px;
  margin-top: 16px;
}

.form-width {
  width: 400px;
}

.input-container {
  position: relative;
  width: 100%;
}

.clear-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: black;
  font-weight: 500;
}

.password-strength {
  display: flex;
  gap: 4px;
  margin-bottom: 20px;
}

.password-weak,
.password-okay,
.password-strong {
  border-radius: 3px;
  border: 1px solid black;
  width: 100%;
  height: 8px;
}

.password-weak {
  background-color: red;
  border: none;
}

.password-okay {
  background-color: orange;
  border: none;
}

.password-strong {
  background-color: green;
  border: none;
}
