/* For small screens, phone up to 600px */
@media only screen and (max-width: 768px) {
  .carousel {
    width: 90vw;
    height: 90vh;
    margin: 10px auto;
    margin-bottom: 0px;
    padding-bottom: 320px;
  }

  .carousel-headings {
    font-size: 35px;
    font-weight: 500;
    padding-top: 200px;
  }

  .carousel-p {
    font-size: 19px;
    line-height: 38px;
    font-weight: 400;
  }

  .carousel-image {
    width: 100vw;
    height: 58vh;
  }

  .carousel-vote-button,
  .carousel-login-button {
    font-size: 18px;
    border: none;
    outline: none;
    padding: 15px;
    margin-top: 20px;
    width: 160px;
    background-color: rgb(14, 205, 14);
    color: white;
    border-radius: 50px;
    font-weight: 500;
  }

  .carousel-login-button {
    background-color: white;
    color: black;
    /* margin-left: 20px; */
  }

  .section-color {
    background-color: rgb(244, 244, 244);
    color: black;
    padding: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-padding {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .footer-heading {
    margin-top: 40px;
  }

  .carousel-caption {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: start;
    color: white;
    margin-top: 100px;
    margin-left: 30px;
  }

  .carousel-heading {
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 30px;
  }

  .carousel-description {
    font-size: 23px;
    width: 80%;
    line-height: 33px;
    margin-top: 10px;
  }

  .how-to-vote-padding {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .how-to-vote-heading {
    font-size: 25px;
    font-weight: 500;
  }

  .how-to-vote-p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 8px;
  }

  .steps-background-color {
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    font-size: 19px;
    color: green;
    margin-bottom: 50px;
  }

  .party-input {
    display: flex;
    gap: 15px;
    width: 90vw;
    margin: 70px auto;
    margin-bottom: 10px;
  }

  .card {
    font-size: 22px;
    font-weight: 500;
    background-color: #030f27;
    color: white;
    padding: 60px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 75px auto;
    margin-bottom: 10px;
    width: 400px;
    height: 420px;
    text-align: center;
    border-bottom: 6px solid rgb(185, 40, 40);
  }

  .analytics-heading {
    font-size: 20px;
  }

  .analytics-icon {
    background-color: #1b2435;
    padding: 13px;
    width: 45px;
    height: 45px;
    border-radius: 5px;
  }

  .total-votes-p {
    font-size: 20px;
    font-weight: 400;
    color: rgb(201, 201, 201);
    text-align: start;
    margin-top: 25px;
    margin-bottom: 0px;
  }

  .total-votes-heading {
    font-size: 25px;
    margin-top: 0px;
    text-align: start;
  }

  .form-login {
    margin: 100px auto;
    width: 90vw;
    height: 70vh;
  }

  .form-width {
    width: 90vw;
  }

  .form-input {
    width: 90vw;
    height: 45px;
    margin-bottom: 20px;
    border-radius: 0px;
    border: 0.8px solid green;
  }

  .img-style {
    height: 60vh;
    width: 100vw;
  }

  .display-flex {
    display: flex;
    gap: 13px;
  }

  .voting-instruction-heading {
    margin-top: 15px;
    margin-bottom: 75px;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
  }

  .voting-dashBoard-heading {
    font-size: 20px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    /* color: green; */
  }

  .voting-dashBoard-p {
    font-size: 17px;
    margin-top: 6px;
    font-weight: 400;
    /* color: green; */
  }

  .political-party-search::placeholder {
    font-size: 16px;
  }

  .political-party-search {
    width: 80vw;
    height: 38px;
    border-radius: 0px;
  }

  .steps {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 500;
  }

  .icon {
    width: 70px;
    height: 70px;
    margin-bottom: 0px;
    color: green;
  }

  .steps-details {
    margin-bottom: 50px;
    font-size: 17.5px;
    font-weight: 380;
  }

  .faq-heading {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: black;
  }

  .faq-p {
    font-size: 17px;
    font-weight: 380;
    text-align: center;
    margin-top: 10px;
  }

  .footer-padding {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer-heading {
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: bolder;
    color: white;
  }

  .footer-inner-padding {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .link {
    font-size: 17.5px;
    color: white;
    font-weight: 380;
    text-decoration: none;
  }

  .disclaimers {
    font-size: 17px;
    color: white;
    font-weight: 380;
    margin-bottom: 10px;
    line-height: 30px;
  }

  .mobile-display-remove {
    display: none;
  }

  .pdp-voting-page-heading {
    color: green;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
  }

  .pdp-voting-page-p {
    font-size: 16.5px;
    font-weight: 400;
    color: green;
    text-align: center;
  }

  .residential-information,
  .voting-detials-form,
  .verification-information,
  .vote-confirmation {
    font-size: 25px;
    color: green;
    margin-top: 70px;
    margin-bottom: 0px;
  }

  .form-section-bg-color {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 16px;
    margin-top: 40px;
  }

  .form-width-height {
    width: 80vw;
    height: 50px;
    border-radius: 10px;
  }
  .form-width-height::placeholder {
    font-size: 17px;
  }

  .form-verification-checkmark {
    margin-top: 40px;
    font-size: 15px;
    font-weight: 450;
    text-transform: uppercase;
    /* color: ); */
  }
}
